
<body style="font-family:Arial, Helvetica, sans-serif">
<p><img src="http://www.phonecollection.com.au/images/logo_phonecollection.png" alt="logo"  /><br />
  <br />
Dear  [NAMES],</p>
<p><strong>No bear  hugs, just a warm welcome!</strong> We are delighted you are joining us as a sales  assistant. Your role is critical in fulfilling the mission of our company.</p>
<p>To avoid  the delay of your first payment, we would like you to provide the enclosed  information and give back to us within 7 days. </p>
<p><strong>Detail from you</strong></p>
<ul>
  <li>New staff information detail</li>
  <li>A copy of Photo ID (passport,  drivers licence, proof of age)</li>
</ul>
<p><strong>Company policy you would need to know (need a  signature on)</strong></p>
<ul>
  <li>Customer service standards</li>
  <li>Company property declaration</li>
  <li>Cash handling declaration</li>
  <li>Break-time policy</li>
</ul>
<p>All related  documents can be found on company Home app à Document à Company policy</p>
<p>Once again,  we’d just like you to know that you, as part of our family, are our most valuable  asset. We could not accomplish what we do every day without our employees. We  are very pleased to welcome you to Phone Collection/ I Collection and look  forward to working with you. </p>
<p>Sincerely, </p>
<p>&nbsp;</p>
<p>Phone  Collection/ I Collection Head office</p>
</body>

