<table width="1300" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <th colspan="5" scope="col">Order Detail</th>
    <th colspan="6" scope="col">China Follow Up</th>
    <th colspan="6" scope="col">Shipment Detail</th>
  </tr>
  <tr>
    <td>Barcode</td>
    <td>Title</td>
    <td>Qty Ordered</td>
    <td>Qty Adjust</td>
    <td>Final Qty</td>
    <td>Name Supplier</td>
    <td>ETR</td>
    <td>EQR</td>
    <td>ART</td>
    <td>ARQ</td>
    <td>FullFilled</td>
    <td>ETS<br>      <br></td>
    <td>EQS</td>
    <td>AST</td>
    <td>ASQ</td>
    <td>Tracking</td>
    <td>FullFilled</td>
  </tr>
  <tr>
  	<td>BarCode</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  	<td>&nbsp;</td>
  </tr>
</table>
